@font-face {
    font-family: 'IBM Plex Sans Devanagari';
    src: url('../fonts/');
    src: url('../fonts/') format('embedded-opentype'),
        url('../fonts/') format('woff2'),
        url('../fonts/') format('woff'),
        url('../fonts/') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.eot');
    src: url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff'),
        url('Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}







