@media(max-width:1024px){
    .a-logo{
        font-size: 40px;
    }
    .h5{
        font-size: 12px;
    }
    .li{
        display: none;
    }
    .searchbar{
        margin-right: 20px;
    }
    .nav{
        display: none;
    }
    .hidden{
        display: block;
    }
    .sect1maindiv{
        margin-left: 0px;
    }
    .h1{
        font-size: 25px;
    }
    .sect1p1{
        font-size: 15px;
    }
    .sect1div1{
        width: 100px;
    }
    
    .sect2maindiv1{
        flex-direction: column;
        height: auto;
    }
    .sect3maindiv{
        flex-direction: column;
        align-items:center;
    }
    .sect3block{
        margin-left: 0px;
        margin-right: 112px;
    }
    .sect3block2{
        margin-top: 0px;
        margin-left: 0px;
    }
    .sect3div1{
        margin-left: 0px;
        margin-right: 70px;
        margin-top: 30px;
    }
    .section4h2{
        font-size: 22px;
    }
    .sect4div1{
        max-width: 300px;
        width: 100%;
    }
    .sect4maindiv{
        height: auto;
    }
    
    .sect4block{
        width: 48%;

    }
    .backimg{
        width: 100%;
    }

    .sect7block3{
        display: none;
    }
    .sect7maindiv{
        height: auto;
    }
    .sect7div2{
        margin-left: 20px;
    }
    .sect7block4{
        margin-left: 0px;
    }
    .sect7block5{
        margin-left: 0px;
    }
    .sect7block6{
        margin-left: 0px;
    }
    .sect1maindiv2{
        display: flex;
        flex-wrap: wrap;
        box-shadow: none;
    }
    .sect1div2{
        width:49%;
        border-radius: 3px;
    }
    .sect1maindiv{
        width: 235px;
        height: auto;
    }
    .h1{
        font-size: 22px;
    }
    .sect1p1{
        font-size: 13px;
        margin-top: 15px;
    }
    .sect1div1{
        width: 100px;
        margin-top: 15px;
    }
    .h5{
        font-size: 10px;
    }
    .logo{
        width: 160px;
    }
    .a-logo{
        font-size: 40px;
    }
    .sect2img1{
        max-width: 390px;
        width: 100%;
    }
    .header{
        height: auto;
    }
}
@media(max-width:768px){
    .a-logo{
        font-size: 20px;
    }
    .sect4maindiv{
        flex-direction: column;
        align-items: center;
    }

    /* .sect4block{
        margin: 0 auto;
        margin-top: 10px;
    } */
    
    .sect5h3{
        font-size: 20px;
    }
    .sect5div2{
        width: px;
    }
    .sect5p{
        font-size: 13px;
        width: 300px;
    }
    .sect6h3{
        font-size: 20px;
    }
    .sect6p{
        font-size: 13px;
        
    }
    .sect6div1{
        max-width: 400px;
        width: 100%;
    }
    .sect4p{
        width: 130px;
    }
    
}